/*
    Color Pallette
    --------------

    Black: #363434
    Grey:  #EAEDED


*/

body {
  font-family: 'Roboto', serif;
  font-size: 14px;
  color: #363434;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
  color: #363434;
}

/* Menu --------------------------*/

#menu {
  background-color: white;
  top:0px;
  height: 50px;
  width: 100%;
  margin: 0px;
  position: fixed;
  z-index: 100;
  padding-top: 5px;
}

#menu h1 {
  font-size: 30px;
  display: inline;
  padding: 0px;
}

#menu a {
  float: right;
  color: #363434;
  font-size: 30px;
  margin: 0px;
}

#menu a:hover {
  transition: 0.5s;
  color: #EAEDED;
}

#hidden-menu {
  background-color: white;
  color: black;
  height: 100%;
  position: fixed;
  z-index: 150;
  width: 100%;
  transition: 0.5s;
  display: none;
}

#hidden-menu ul {
  width: 300px;
  margin: 0 auto;
  margin-top: 10%;
}

#hidden-menu ul li {
  margin-bottom: 10px;
  font-size: 20px;
}

#hidden-menu ul li a {
  color:black;
  text-decoration: none;
}

#hidden-menu ul li a:hover {
  transition: 0.5s;
  border-bottom: 3px solid black;
}

#close-hidden-menu-button {
  float: right;
  color: #363434;
  font-size: 30px;
  margin: 0px;
  margin-right: 40px;
  margin-top: 5px;
}

/* Laning Page ------------------*/

#landing_page {
  background-color: white;
  height: 100vh;
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;

}

#landing_img {
  height: 100%;
  width: 100%;
  background-color: black;
  background-image: url("../../images/photo1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#landing_header {
  width: 320px;
  height: 200px;
  background-color: transparent;
  position: absolute;
  right: 0px;
  bottom: 0px;
  margin-bottom: 70px;
  margin-right: 50px;
}

#landing_header h1 {
  color: white;
  font-size: 55px;
  font-style: italic;
}

/* BANNER LISTING THE SERVICES --------------------- */

#most_used_links {
  height: 150vh;
  background-color: #EAEDED;
  padding: 30px 100px;
}

#first_link_row {
  margin-bottom: 80px;
}

#most_used_links_img1 {
  height: 420px;
  width: 300px;
  background-color: black;
  background-image: url("../../images/photo2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  z-index: 99;
  margin-top: -130px;
  -webkit-box-shadow: 1px -1px 24px 5px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px -1px 24px 5px rgba(0,0,0,0.75);
  box-shadow: 1px -1px 24px 5px rgba(0,0,0,0.75);
}

#horizontal_line1 {
  border: 1px solid black;
  margin-top: 100px;
  margin-left: -80px;
  z-index: 15px;
}

#link-to-photo1 {
  margin-top: 70px;
  width: 40px;
  height: auto;
}

#link-to-photo1 a {
  color: black;
  font-size: 17px;
  font-weight: bold;
  font-style: italic;
  width: 40px;
  margin-left: 50px;

}

#link-to-photo1:hover a {
  transition: 0.5s;
}

#most_used_links_img2 {
  height: 420px;
  width: 300px;
  background-color: black;
  background-image: url("../../images/photo3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  z-index: 99;
  margin-top: -130px;
  -webkit-box-shadow: 1px -1px 24px 5px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px -1px 24px 5px rgba(0,0,0,0.75);
  box-shadow: 1px -1px 24px 5px rgba(0,0,0,0.75);
}

#horizontal_line2 {
  border: 1px solid black;
  margin-top: 100px;
  margin-right: -80px;
  z-index: 15px;
}

#link-to-photo2 {
  margin-top: 70px;
  width: 40px;
  height: auto;
  padding-left: 110px;
}

#link-to-photo2 a {
  color: black;
  font-size: 17px;
  font-weight: bold;
  font-style: italic;
  width: 40px;

}

#link-to-photo2:hover a {
  transition: 0.5s;
}

#last_link_row {
  margin-top: 80px;
}


#most_used_links_img3 {
  height: 420px;
  width: 300px;
  background-color: black;
  background-image: url("../../images/photo4.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  z-index: 99;
  margin-top: -130px;
  -webkit-box-shadow: 1px -1px 24px 5px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px -1px 24px 5px rgba(0,0,0,0.75);
  box-shadow: 1px -1px 24px 5px rgba(0,0,0,0.75);
}

#horizontal_line1 {
  border: 1px solid black;
  margin-top: 100px;
  margin-left: -80px;
  z-index: 15px;
}

#link-to-photo1 {
  margin-top: 70px;
  width: 40px;
  height: auto;
}

#link-to-photo1 a {
  color: black;
  font-size: 17px;
  font-weight: bold;
  font-style: italic;
  width: 40px;
  margin-left: 50px;

}

#link-to-photo1:hover a {
  transition: 0.5s;
  text-decoration: line-through;
}

/* About us ---------------------------------- */
#about_us {
  height: 120vh;
  background-color: transparent;
  padding: 200px 10px;
}

#about_left_side h2 {
  text-align:center;
  font-size: 40px;
}

#about_left_side p {
  text-align: right;
  padding: 10px 60px;
}


#about_us_img {
  height: 450px;
  width: 450px;
  background-color: black;
  background-image: url("../../images/photo5.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  z-index: 99;
}

/* Quote section ---------------------- */
#quote_section {
  height: 60vh;
  background-color: #EAEDED;
  padding: 100px 120px;
  text-align: center;
}

#quote {
  padding: 40px;
  background-color: transparent;
  text-align: center;
}

#quote h2 {
  font-size: 40px;
}

#vertical_line_left {
  margin-top: 30px;
  border-left: 1px solid black;
  height: 150px;
}

#vertical_line_right {
  margin-top: 30px;
  border-right: 1px solid black;
  height: 150px;
}


/* Footer  ------------------------------ */
#footer {
  background-color: #363434;
  height: auto;
  padding: 30px 60px;
  color: white;
}

#footer-top {
  background-color: #363434;
  width: 1000px;
  margin: 0 auto;
  padding: 40px;
}


#footer-top h1, ul span {
  color: white;
  margin-right: 30px;
}

#footer h1 {
  z-index: 15;
  margin-top: -15px;
}

#footer-top ul {
 margin-left: 30px;
}

#footer-top ul a span {
  font-size: 15px;
}

#footer-top ul a:hover span {
  transition: 0.5s;
  color: black;
}

#footer-top form input {
  color:white;
  background-color: #363434;
  border: 1px solid transparent;
  border-bottom-color: white;
  padding: 10px 15px;
  margin-right: 10px;
  z-index: 15;
  margin-top: -15px;
}

#footer-top form button {
  border: 1px solid white;
  color: white;
  background-color: #363434;
  padding: 10px 15px;
  z-index: 15;
  margin-top: -15px;
}

#footer-top form button:hover {
  background-color: white;
  transition: 0.5s;
  color: black;
}
