/*
    Color Pallette:
    --------------

    Creme:        #FAF1CF
    Dark green:   #3F6844
    Light green:  #5DAA68

*/

body {
  font-family: 'Roboto', serif;
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Literata', serif;
}

.fa {
  font-size: 40px;
  margin-bottom: 10px;
}

/* welcome banners -------------------------------------------------------- */

#left-banner {
  background-color: #FAF1CF;
  height: 100vh;
  color: black;
  padding-top: 100px;
}

#left-banner img {
  display: block;
  margin: 0 auto;
  height: 200px;
  margin-bottom: 30px;
}

#left-banner h1 {
  font-size: 70px;
  margin-bottom: 30px;
}

#left-banner a {
  background-color: #5DAA68;
  color:white;
  border-radius: 0px;
}

#left-banner a:hover {
  transition: 0.5s;
  background-color: #3F6844;
}

#right-banner {
  height: 100vh;
  background-color: green;
  background-image: url("../images/forest4.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 20px;
}

#right-banner span {
  color:white;
  font-size:20px;
  bottom:0;
  position:absolute;
  margin-bottom: 20px;
}

/* About page ------------------------------ -------------------------------*/

#about-responsive-phone {
  display: none;
}

#about {
  background-color: #3F6844;
  height: 50vh;
  padding: 40px 20px;
  color: white;
}

#about div h3 {
  margin-bottom: 20px;
}

#about-us-panel p {
  font-size: 15px !important;
}

#about div a {
  color: white;
}

#view-more-about-btn {
  background-color: #FAF1CF;
  color: black !important;
  text-align: center;
  border-radius: 0px;
  font-size: 12px;
}

#view-more-about-btn:hover {
  transition: 0.5s;
  background-color: #5DAA68;
}

#about-part2 {
  background-color: white;
  height: 50vh;
  padding: 0px 60px;
}

#about-img1 {
  height: 250px;
  background-color: black;
  background-image: url("../images/forest5.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 99;
  margin-top: -110px;
  margin-bottom: 30px;
}

#about-img2 {
  height: 250px;
  background-image: url("../images/forest6.jpg");
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 99;
  margin-top: -20px;
}

#about-img3 {
  height: 350px;
  background-color: black;
  z-index: 99;
  background-image: url("../images/forest7.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 100px;
}


/* Use Our Services Pannel ----------------------------------------------*/

#use-our-services {
  background-color: #FAF1CF;
  height: 50vh;
  padding: 50px 60px;
}

#join-button {
  background-color: #5DAA68;
  color: white;
  border-radius: 0px;
}

#join-button:hover {
  transition: 0.5s;
  background-color: #3F6844;
}

/* Image Buffer ----------------------------------------------------------- */

#buffer {
  height: 50vh;
  background-color: green;
  background-image: url("../images/forest3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* SHOP Panel ------------------------------------------------------------- */

#shop {
  height: 60vh;
  background-color: white;
  padding: 50px 40px;
}

#shop-header {
  margin-top: 50px;
}

#shop-btn {
  background-color: #5DAA68;
  color: white;
  border-radius: 0px;
  margin-top: 20px;
}

#shop-btn:hover {
  transition: 0.5s;
  background-color: #3F6844;
}

#shop-img1 {
  background-color: green;
  height: 300px;
  background-image: url("../images/forest9.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#shop-img2 {
  background-color: green;
  height: 300px;
  background-image: url("../images/forest8.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 99;
  margin-top: -90px;
  margin-bottom: 20px;
}

/* Footer ------------------------------------------------------------------ */

#footer {
  background-color: green;
  height: 50vh;
}

#footer-img1 {
  height: 100%;
  background-image: url("../images/forest1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#footer-img2 {
  height: 100%;
  background-image: url("../images/forest10.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#footer-img3 {
  height: 100%;
  background-image: url("../images/forest2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#footer-info h3 a {
  font-size: 16px;
  color: #3F6844;
}
