.tran {
    transition: all 0.9s ease;
}

#mybody {
    margin: 0;
    padding: 0;
    height: 100%;
    
}

.clearFloat {
    clear: both;
}

#enterance-jumbo {
    background-image: url(images/girl.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 900px;
    width: 100;
    color: white;
    font-family: 'Roboto', serif, sans-serif;
    border-radius: 0;
    position: absolute;
    left: 0;
    right: 0;
    margin-bottom: 0;
    
}

#wrapper-elements {
    padding :0;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#header3-entry-jumbo {
    margin-top: 160px
}

.entry-button:hover {
    color: white;
    background-color: #00e676;
    padding: 10px;
    margin-top: 40px;
    font-family: Roboto;
    border: 0px;

}

.entry-button {
    color: white;
    background-color: transparent;
    padding: 10px;
    margin-top: 40px;
    border: 1px solid white;
    margin-left: 20px;
    font-family: Roboto;
}

.start-button {
    color: white;
    background-color: #00e676;
    padding: 10px;
    margin-top: 40px;
    font-family: Roboto;
    border: 1px solid transparent;
}

.start-button:hover  {
    color: white;
    background-color: transparent;
    padding: 10px;
    margin-top: 40px;
    border: 1px solid white;
    font-family: Roboto;
   
   
}


#opacity-bottom-enterance {
    background-color: rgba(0, 0, 0, 0.5);
    height: 200px;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin-bottom: 0;
     border-bottom: 4px solid #00e676;
   
}

#opacitated-p {
    font-size: 15px;
    margin-top: 0;
    margin: 0;
}

#opacitated-h3 {
    margin-bottom: 0;
    margin: 0;
}

#opacitated-left-allign-name {
    float: left;
    margin: 0;
    padding: 0;
}

.opacitated-h4 * {
    margin: 0;
}

.opacitated-h4 {
    float: right;
    margin-right: 30px;
}


#enterance-nav {
    height: 50px;
    position: absolute;
    width: 75%;
    bottom: 0;
    left: 12.5%;
    right: 12.5%;
    background-color: #00e676; 
}

#enterance-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 13px;
}

#enterance-nav ul li {
    display: inline;
    height: 100%;
    width: 100%;
}

#enterance-nav ul li a {
    color: white;
    padding-left: 40px;
    
}

#enterance-nav ul li a:hover {
    transition: all 0.9s ease;
    color: black;
    text-decoration: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    transition: all 0.9s ease;
    background-color: aquamarine;
}

.dropdown:hover .dropdown-content {
    transition: all 0.9s ease;
    display: block;
}

#quote {
    width: 100%;
    position: relative;
    margin-top: 900px;
    border-radius: 0;
    background-color: white;
}


#top-row-id {
    padding: 15px;
    border-radius: 0;
}

#top-row-id p {
    font-size: 17px;
}

.read-more-css:hover {
    transition: all 0.9s ease;
    color: black;
    text-decoration: none;
    padding: 3px;
}

.read-more-css {
    color: #00e676;
    padding: 3px; 
}

#top-row-id-cover {
    padding: 30px;
    padding-top: 0;
    background-color: white;
    width: 100%;
    margin: 0;
}

.top-row-button {
    transition: all 0.9s ease;
    padding: 15px;
    background-color: #00e676;
    border: 1px solid transparent;
    margin-bottom: 20px;
}

.top-row-button:hover {
    transition: all 0.9s ease;
    background-color: white;
    border: 1px solid #00e676;
}

.top-row-button:hover span {
    transition: all 0.9s ease;
    color: #00e676;
}

#second-screen-jumbo {
    border-radius: 0;
    margin-bottom: 0;
}

#h5-2ndjumbo {
    margin-bottom: 75px;
}

.image-leave {
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .6);
}

#secondjumbo-paragraph p {
    font-size: 17px
}



.second-button-jumbo {
    margin-top: 20px;
}


#small-p {
    font-size: 16px;
}

#space-jumbotron {
    width: 100%;
    background-image: url(images/space.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 0;
    padding: 0;
    margin-bottom: 0;

}

#bg-space-black-opacitated {
    background: rgba(0, 0, 0, 0.3);
    height: 100%;
    width: 100%;
    color: white;
    padding: 100px 50px;
}



#last-content-jumbo {
    background-color: white;
    margin-bottom: 0;
    padding-bottom: 0;
}

#last-content-row {
    padding: 90px;
    padding-left: 100px;
    width: 100%;
    background-color: white;
}


#sun-last-img {
    background-image: url(images/starss.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 0;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .6);
    height: 200px;
}

#sun-last-img:hover {
    transition: all 0.9s ease;
    opacity: 0.8.5;
    
    
}

#monts-last-img {
    background-image: url(images/monts.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 0;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .6);
    height: 200px;
    
}

#earth-last-img {
    background-image: url(images/earth.jpeg);
     background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 0;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .6);
    height: 200px;
}

#footer-jumbotron {
    margin: 0;
    background-image: url(images/footerimg.jpg);
    border-radius: 0;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0;
}

#footer-opacitated {
    background: rgba(0, 0, 0, 0.4);
    border-radius: 0;
    height: 100%;
    width: 100%;
    color: white;
    margin: 0;

}

#footer {
    width: 100%;
    margin: 0;
    padding: 0;
}







.small-p-foot {
    font-size: 5px;
}



#footer-3-rows {
    padding: 0;
}

#submit-form-btn {
    transition: all 0.9s ease;
    padding: 7px;
    background-color: #00e676;
    border: 1px solid transparent;
    margin-bottom: 20px;
}

#submit-form-btn:hover {
    background-color: white;
    color: black;
    border: 1px solid #00e676;
}

.p-foot {
    font-size: 20px;
}

.input-form-footer {
    margin-bottom: 10px;
}

.footer-posts {
    color: #00e676;
}

.footer-posts:hover {
    transition: all 0.9s ease;
    color: white;
    text-decoration: none;
}

.form-color {
    color: black;
}

.form-btn {
    color: white;
}

#last-col {
    margin: 0;
    padding: 0;
    height: 5px;
}

#last-jumbo {
    margin-bottom: 0;
    border-radius: 0;
    color: white;
    background-color: black;
    padding-top: 10px;
    height: 5px;
}

#last-p {
    margin: 0;
    padding: 0;
}

.last-a {
    color: #00e676;
    padding: 3px; 
}

.last-a:hover {
    transition: all 0.9s ease;
    color: red;
    text-decoration: none;
    padding: 3px;
}

#toTheTop {
    width:100px; 
	height:60px;
	padding:10px;
    border-radius: 5px;
	text-align:center; 
	background: #00e676;
	color: white;
	text-decoration: none;
	position:fixed;
	bottom:75px;
	right:40px;
	display:none;
    z-index: 99;
    border: 1px solid transparent;
    
}

#toTheTop:hover {
    transition: all 0.9s ease;
    background-color: white;
    color: #00e676;
    text-decoration:none;
    border: 1px solid #00e676;
}

#toTheTop span { 
    font-size: 32px;
}