/*
    Small devices (tablets, 768px and up) --
    (max column width: 60px / divided into 12 col)
*/

@media screen and (min-width: 481px) and (max-width: 760px) {

  .fa {
    font-size: 30px;
    margin-bottom: 10px;
  }

  /* welcome banners -------------------------------------------------------- */

  #left-banner {
    height: 80vh;
    padding-top: 60px;
  }

  #right-banner {
    height: 20vh;
    padding-bottom: 20px;
  }

  /* About page ------------------------------ -------------------------------*/

  #about-responsive-phone {
    display: block;
    height: auto;
    background-color: #3F6844;
    padding: 20px 10px;
    color: white;
  }

  #about {
    display: none;
  }

  #about div h3 {
    margin-bottom: 0px;
  }

  #about-part2 {
    height: auto;
    padding: 20px 0px;
  }

  #about-img1 {
    height: 100px;
    z-index: 0;
    margin-top: 20px;
    padding: 0px;
  }

  #about-img2 {
    height: 100px;
    z-index: 99;
    margin-top: -0px;
  }

  #about-img3 {
    height: 100px;
    z-index: 99;
    margin-top: 30px;
  }

  #about-part2-p {
    margin-top: -30px;
  }


  /* Use Our Services Pannel ----------------------------------------------*/

  #use-our-services {
    height: auto;
    padding: 20px 20px;
  }

  /* Image Buffer ----------------------------------------------------------- */

  #buffer {
    height: 20vh;
  }

  /* SHOP Panel ------------------------------------------------------------- */

  #shop {
    height: auto;
    background-color: white;
    padding: 0px 0px;
  }

  #shop-header {
    margin-top: 10px;
  }

  #shop-btn {
    margin-bottom: 30px;
  }

  #shop-img1 {
    display: none;
  }

  #shop-img2 {
    display: none;
  }

  /* Footer ------------------------------------------------------------------ */

  #footer {
    background-color: green;
    height: auto;
  }

  #footer-img1 {
    height: 15vh;
  }

  #footer-img2 {
    height: 15vh;
  }

  #footer-img3 {
    height: 15vh;
  }

  #footer-info h3 a {
    font-size: 16px;
    color: #3F6844;
  }

}
